services:
  teams:
    build:
      context: ./teams
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_HOST: teams-db
      POSTGRES_PORT: 5432
      POSTGRES_DB: test
    depends_on:
      - teams-db
    networks:
      - backend-network

  teams-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: test
    volumes:
      - teams_db_data:/var/lib/postgresql/data
    networks:
      - backend-network

volumes:
  teams_db_data:

networks:
  backend-network:
    driver: bridge